<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="row justify-content-center">
  <div class="col-auto">


    <table class="table table-responsive" class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Role</th>
        </tr>
      </thead>


      <tbody>
        <tr *ngFor="let employee of employees | paginate: {itemsPerPage:5,currentPage:page}">

          <td>{{employee.id}}</td>
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.mobile}}</td>
          <td>{{employee.role}}</td>
          <td>
            <button (click)="viewProfile(employee)" class="btn"><i class="fa fa-eye"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
